body {
  background-color: #111;
  color: white;
  font-family: Arial;
  padding: 20px;
  line-height: 1.6;
}

h1 {
  color: cyan;
}

h2 {
  color: orange;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

ul {
  list-style-type: square;
}
